/* some labireries i use */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #fff;
    font-family: open sans;
    text-transform: capitalize;
    text-decoration: none;

}
.p-20{
    padding: 20px;
}
.p-10{
    padding:10px;

}
.rad-6{
    border-radius: 6px;

}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.full-width{
    width: 100%;
}